html,
body {
    background-color: #333;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12pt;
    width: 100%;
    height: 100%;
    overflow: hidden
}

@font-face {
    font-family: bachelorpadjl;
    src: url(media/game/font/bachelorpadjl.eot) format('embedded-opentype');
    src: url(media/game/font/bachelorpadjl.eot?#iefix) format('embedded-opentype'), url(media/game/font/bachelorpadjl.woff) format('woff'), url(media/game/font/bachelorpadjl.svg) format('svg'), url(media/game/font/bachelorpadjl.otf) format('opentype')
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1
}

#ajaxbar {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 32px;
    width: 32px;
    background: url(media/game/graphics/loading/ajax-loader.gif) center no-repeat;
    z-index: 5
}

#play {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden
}

#play img {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0
}

#orientate {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10002;
    display: none
}

#orientate img {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%
}

#MobileAdInGameFooter,
#MobileAdInGameFooter2,
#MobileAdInGameFooter3 {
    display: none;
    position: absolute;
    background: 0 0
}

#MobileAdInGameHeader,
#MobileAdInGameHeader2,
#MobileAdInGameHeader3 {
    display: none;
    position: absolute;
    background: 0 0
}

#MobileAdInGameEnd,
#MobileAdInGameEnd2,
#MobileAdInGameEnd3 {
    position: absolute;
    float: left;
    min-width: 320px;
    z-index: 10000;
    left: 0;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, .7);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease
}

#MobileAdInGameEnd-Box,
#MobileAdInGameEnd2-Box,
#MobileAdInGameEnd3-Box {
    z-index: 10000;
    position: absolute;
    width: 302px;
    height: 250px
}

#MobileAdInGameEnd-Box-Body,
#MobileAdInGameEnd2-Box-Body,
#MobileAdInGameEnd3-Box-Body {
    z-index: 10000;
    position: relative;
    background: 0 0
}

#MobileAdInGameEnd-Box-Footer,
#MobileAdInGameEnd2-Box-Footer,
#MobileAdInGameEnd3-Box-Footer {
    z-index: 10000;
    position: relative;
    font-size: 11px;
    height: 20px;
    color: #fff;
    background: 0 0
}

#MobileAdInGameEnd-Box-Header,
#MobileAdInGameEnd2-Box-Header,
#MobileAdInGameEnd3-Box-Header {
    z-index: 10000;
    position: relative;
    margin-top: -2px;
    font-size: 11px;
    height: 20px;
    text-align: right;
    color: #fff;
    background: 0 0
}

#MobileAdInGameEnd-Box-Close,
#MobileAdInGameEnd2-Box-Close,
#MobileAdInGameEnd3-Box-Close {
    position: absolute;
    z-index: 10005;
    background-image: url(media/ads/graphics/close-button-light.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: -4px;
    margin-right: -1px;
    display: none
}

#MobileAdInGamePreroll,
#MobileAdInGamePreroll2,
#MobileAdInGamePreroll3 {
    position: absolute;
    float: left;
    min-width: 320px;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, .7);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease
}

#MobileAdInGamePreroll-Box,
#MobileAdInGamePreroll2-Box,
#MobileAdInGamePreroll3-Box {
    z-index: 10000;
    position: absolute;
    width: 302px;
    height: 250px
}

#MobileAdInGamePreroll-Box-Body,
#MobileAdInGamePreroll2-Box-Body,
#MobileAdInGamePreroll3-Box-Body {
    z-index: 10000;
    position: relative;
    background: 0 0
}

#MobileAdInGamePreroll-Box-Footer,
#MobileAdInGamePreroll2-Box-Footer,
#MobileAdInGamePreroll3-Box-Footer {
    z-index: 10000;
    position: relative;
    font-size: 11px;
    height: 20px;
    color: #fff;
    background: 0 0
}

#MobileAdInGamePreroll-Box-Header,
#MobileAdInGamePreroll2-Box-Header,
#MobileAdInGamePreroll3-Box-Header {
    z-index: 10000;
    position: relative;
    margin-top: -2px;
    font-size: 11px;
    height: 20px;
    text-align: right;
    color: #fff;
    background: 0 0
}

#MobileAdInGamePreroll-Box-Close,
#MobileAdInGamePreroll2-Box-Close,
#MobileAdInGamePreroll3-Box-Close {
    position: absolute;
    z-index: 10005;
    background-image: url(media/ads/graphics/close-button-light.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: -4px;
    margin-right: -1px;
    display: none
}

.ig_debug {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: 2px solid #f57401;
    font-size: 12px;
    color: #fff;
    z-index: 1000;
    -webkit-user-select: none
}

.ig_debug_panel_menu {
    height: 28px;
    background: #222;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #333));
    background: -moz-linear-gradient(center bottom, #000000 0%, #333 100%);
    background: -o-linear-gradient(#333, #000000)
}

.ig_debug_panel_menu div {
    float: left;
    height: 22px;
    padding: 6px 8px 0;
    border-right: 1px solid #333
}

.ig_debug_panel_menu .ig_debug_head {
    font-weight: 700;
    color: #888
}

.ig_debug_menu_item:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000
}

.ig_debug_menu_item.active,
.ig_debug_menu_item.active:hover {
    background-color: #000;
    color: #fff
}

.ig_debug_stats {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    color: #888;
    border-left: 1px solid #333;
    text-align: right
}

.ig_debug_stats span {
    width: 3em;
    display: inline-block;
    color: #fff !important;
    margin-right: .2em;
    margin-left: .3em;
    font-family: bitstream vera sans mono, courier new;
    white-space: nowrap
}

.ig_debug_panel {
    height: 152px;
    overflow: auto;
    position: relative
}

.ig_debug_panel canvas {
    border-bottom: 1px solid #444
}

.ig_debug_panel .ig_debug_panel {
    padding: 8px;
    height: auto;
    float: left;
    background-color: #000;
    border-right: 2px solid #222
}

.ig_debug_option {
    padding: 2px 0 2px 8px;
    cursor: pointer
}

.ig_debug_option:first-child {
    margin-top: 8px
}

.ig_debug_option:hover {
    background-color: #111
}

.ig_debug_graph_mark {
    position: absolute;
    color: #888;
    left: 4px;
    font-size: 10px;
    margin-top: -12px
}

.ig_debug_legend {
    color: #ccc
}

.ig_debug_label_mark {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear
}

.ig_debug_legend_color {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-right: 4px;
    margin-left: 16px
}

.ig_debug_legend_number {
    width: 3em;
    display: inline-block;
    text-align: right;
    font-family: bitstream vera sans mono, courier new;
    color: #fff;
    margin-right: .2em
}

.ig_debug_map_container {
    position: relative;
    overflow: hidden;
    border: 1px solid #888
}

.ig_debug_map_container canvas {
    position: absolute
}

.ig_debug_map_screen {
    position: absolute;
    border: 1px solid #f0f
}